@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


.banner-show{
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../../img/mudas.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 350px;
  border-radius: 2px;
  background-attachment: fixed;
}

.title-banner-show {
  color: rgb(253, 102, 47);
  font-weight: 700;
  font-size: 55px;
  text-shadow: 2px 2px white;
}

.title-main {
  font-family: Poppins;
}

.text-product {
  color: #223263;
  font-size: 18px;
  font-weight: bold;
}

.text-price {
  color: #F24405;
  font-weight: bold;
  font-size: 18px;
}

.btn-comprar {
  background: rgba(242, 68, 5, 0.7);
  border-radius: 5px;
  color: white;
  box-shadow: inset 0 0 0 0px rgba(242, 68, 5, 0.7);
}
.btn-comprar:hover {
  box-shadow: inset 0 100px 0 0px rgba(242, 68, 5, 0.7) ;
  transition: 0.3s ease-in-out;
}

.img{
  height: 250px;
}
